.wrapper-header {
  width: 100%;
  max-width: 1360px;
  background-color: #fff;
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

    nav {
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          justify-content: space-between;
        }
        li {
          display: inline-block;
          
        }
        a {
          display: block;
          padding: 0.5rem 0.9rem;
          text-decoration: none;
          color: #000;
          font-size: 1.6rem;
          font-weight: 600;
        }
    }
    
    .content{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .btn-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .btn-wallet{
      background: linear-gradient(90deg, rgb(255, 143, 119) 0%, rgb(255, 86, 187) 100%);
      border: none;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      font-size: 1.3rem;
      font-weight: 600;
      height: 40px;
      width: 150px;
    }
}

//responsive PC

@media (min-width: 993px) {
  .menu-btn{
    display: none !important;
  }
  .content{
    width: 75%;
    max-width: 850px;
  }
  .nav {
    width: 50%;
  }
  .btn-container {
    width: 34%;
    max-width: 310px;
  }
  .btn-responsive-mobile{
    display: none !important;
  }
}

//responsive tablet

@media (min-width: 577px) and (max-width: 992px) {
  // .avatar {
  //   display: none !important;
  // }
  .btn-responsive-PC{
    display: none !important;
  }
  .wrapper-header  {
    padding: 1rem;
    .menu-btn{
      display: none !important;
    }
    a{
      padding: 0.3rem 0.7rem !important;
      font-size: 1.3rem !important;
    }
    .content{
      width: 85%;
      max-width: 850px;
    }
    .nav {
      width: 50%;
    }
    .btn-container {
      width: 36%;
      max-width: 190px;
    }
  }
}

//responsive mobile

@media (max-width: 576px) {
  .wrapper-header {
    padding: 0;
    .menu{
      display: flex;
      align-items: center;
    }
    .content{
      justify-content: flex-end !important;
    }
    .avatar {
      display: none !important;
    }
    .nav {
      display: none;
    }
    .btn-responsive-PC{
      display: none !important;
    }
    .btn-container {
      width: 75%;
      max-width: 190px;
    }
    .logo {
      width: 42px;
      height: 21px;
    }
    .btn-wallet{    
      height: 27px;
    }
}
}